<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>상세 게시글</title>
</head>
<body>
    <div>
        <h3>상세 게시글</h3>
        <hr />
        <a th:href="@{/board/selectlist}"> 목록으로 </a> <br />

        번호: <p style="display: inline-block;" th:text="${board.no}"> </p> <br />
        제목: <p style="display: inline-block;" th:text="${board.title}"> </p> <br />
        내용: <p style="display: inline-block;" th:text="${board.content}"> </p> <br />
        저자: <p style="display: inline-block;" th:text="${board.writer}"> </p> <br />
        조회수: <p style="display: inline-block;" th:text="${board.hit}"> </p> <br />
        등록일: <p style="display: inline-block;" th:text="${board.regdate}"> </p> <br />
        <hr />
        
        <button>수정</button>
        <button>삭제</button>
        <br />
        <button>이전글</button>
        <button>다음글</button>
        
        <hr />
        
        <form th:action="@{/board/insertreply(bno=${board.no})}" method="post">
        	<input type="hidden" name="board.no" th:value="${board.no}" />
	        <textarea rows="6" name="content" placeholder="답글작성" ></textarea> <br />
	        <input type="text" name="writer" placeholder="작성자" /> <br />
	        <input type="submit" value="답글작성" /> <br />
        </form>
        <br />
        
        <h3>답글 목록</h3>
        <table border="1">
        	<tr th:each="tmp : ${repList}">
        		<td th:text="${tmp.no}" ></td>
        		<td th:text="${tmp.content}" ></td>
        		<td th:text="${tmp.writer}" ></td>
        		<td th:text="${tmp.regdate}" ></td>
        	</tr>
        </table>

    </div>
    <script>
	
    </script>
</body>
</html>