<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>seller home</title>
</head>
<body>
    <div style="padding:30px">
        <h3>seller home</h3>
		<hr />
		
		물품목록 / 물품등록 / 주문목록
		
		<form th:action="@{/seller/insertitem}">
			<input type="submit" value="물품등록">
		</form>
		<form th:action="@{/seller/insertbatch}">
			<input type="submit" value="물품일괄등록">
		</form>
		
		<form th:action="@{/seller/home}">
            <input type="text" name="txt" />
            <input type="submit" value="검색" />
        </form>
        
        <form th:action="@{/seller/deleteupdatebatch}" method="get">
			<input type="submit" name="btn" value="물품일괄삭제">
			<input type="submit" name="btn" value="물품일괄수정">
		
        <table border="1">
            <tr>
            	<th>체크</th>
                <th>번호</th>
                <th>물품코드</th>
                <th>이름</th>
                <th>가격</th>
                <th>수량</th>
                <th>등록일</th>
                <th>버튼</th>
            </tr>
            <tr th:each="tmp, idx : ${list}">
            	<td> <input type="checkbox" name="no" th:value="${tmp.icode}" /> </td>
                <td th:text="${idx.count}"></td>
                <td th:text="${tmp.icode}"></td>
                <td th:text="${tmp.iname}"></td>
                <td th:text="${tmp.iprice}"></td>
                <td th:text="${tmp.iquantity}"></td>
                <td th:text="${tmp.iregdate}"></td>
                <td>
                	<button th:onclick="|javascript:handleUpdate('${tmp.icode}')|">수정</button>
                	<button th:onclick="|javascript:handleDelete('${tmp.icode}')|">삭제</button>
                </td>
            </tr>
        </table>
        </form>
        
        <th:block th:each="i: ${#numbers.sequence(1, pages)}">
            <a th:href="@{/seller/home(page=${i}, txt=${param.txt})}" th:text="${i}"></a>
        </th:block>
        
        <p th:text="${_csrf.token}"></p>
        
        <hr />
        
        <h3>주문내역</h3>
        <table border="1">
        	<tr>
        		<th>주문번호</th>
        		<th>주문수량</th>
        		<th>주문일자</th>
        		<th>물품이름</th>
        		<th>물품가격</th>
        		<th>주문자</th>
        		<th>주문자연락처</th>
        	</tr>
        	<tr th:each="obj : ${list2}">
        		<td th:text="${obj.no}"></td>
        		<td th:text="${obj.cnt}"></td>
        		<td th:text="${obj.regdate}"></td>
        		<td th:text="${obj.ItemIname}"></td>
        		<td th:text="${obj.ItemIprice}"></td>
        		<td th:text="${obj.MemberUname}"></td>
        		<td th:text="${obj.MemberUphone}"></td>
        	</tr>
        </table>
    </div>
    
    <script src="https://unpkg.com/mqtt@4.3.7/dist/mqtt.min.js"></script>
    
    <script>
    
	    const state = {
	        message : '',   // 보낼 메세지
	        client : '',    // 접속한 클라이언트 객체
	
	        options : {
	            clean : true,   // 세션 초기화
	            reconnectPeriod: 20000,  // 주기적인 접속 시간
	
	            // 고유한 값
	            clientId : 'd206_'+ new Date().getTime(),
	            username : 'ds606', // 아이디
	            password : 'ds606', // 암호
	        },
	
	        topic : 'ds/class606/#',	// 판매자아이디로 설정해야됨
	        qos : 0  // 0 부터 2까지의 숫자
	    };
	    
	    const url = 'ws://1.234.5.158:11884';
	    
        try {
            state.client = mqtt.connect(url, state.options);
            console.log(state.client);

            state.client.on('connect', ()=> {
                console.log('connect success!!');
            });

            state.client.on('error', ()=> {
                console.log('connect error!!');
            });

            // 메세지 받기
            state.client.on('message', (topic, message) => {
                console.log(topic, JSON.parse(message));
                location.reload();	// F5 누름
            });
            
            state.client.subscribe(state.topic, {qos:state.qos}, (error, res) => {
                if (error) {
                    console.log('subscribe topic error', error);
                    return;
                }
                console.log('subscribe success', res);
            });
            
            

        } catch (e) {
            console.log('mqtt error', e);
        }
	    
	    //////////////////////////////////////
    
    	function handleUpdate(no){
    		// GET으로 수정(주소창을 바꿈)
    		location.href="/ROOT/seller/updateitem?code="+no;
    	}
    
    	function handleDelete(no){
    		if(confirm('삭제할까요?')){
    			console.log(no);
    			// GET으로 삭제 처리(주소창을 바꿈)
    			// location.href="/ROOT/seller/deleteitem?code="+no;
    			
    			// POST로 처리
    			// <form th:action="@{/seller/deleteitem}" method="post">
    			var form = document.createElement("form");
    			form.method="post";
    			form.action="/ROOT/seller/deleteitem";
    			
    			// <input type="text" name="code" value="전달되는 번호" />
    			var input = document.createElement("input");
    			input.name="code";
    			input.value=no;
    			
    			var input1 = document.createElement("input");
    			input1.type="hidden";
    			input1.name="_csrf";
    			input1.value='[[${_csrf.token}]]';
    			
    			// input type을 form 태그에 추가
    			form.appendChild(input);
    			form.appendChild(input1);
    			
    			// form document에 추가
    			document.body.appendChild(form);
    			// <input type="submit" />을 누름
    			form.submit();
    		}
    	}
    </script>
</body>
</html>