<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>판매자 물품등록</title>
</head>
<body>
    <div>
        <h3>물품등록</h3>
        <hr />
        <form th:action="@{/seller/insertitemaction}" method="post" enctype="multipart/form-data">
            물품이름    : <input type="text" name="iname" /> <br />
            물품내용    : <textarea name="icontent" cols="" rows="6"></textarea> <br />
            가격    : <input type="text" name="iprice" /> <br />
            수량    : <input type="number" name="iquantity" /> <br />
            대표이미지  : <input type="file" name="timage" /> <br />
            <input type="submit" value="물품등록">
        </form>
    </div>
</body>
</html>