<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>판매자 물품수정</title>
</head>
<body>
    <div>
        <h3>물품 수정</h3>
        <hr />
        <form th:action="@{/seller/updateitemaction}" method="post" enctype="multipart/form-data">
        	<input type="hidden" name="icode" th:value="${item.icode}" readonly />
            물품이름    : <input type="text" name="iname" th:value="${item.iname}" /> <br />
            물품내용    : <textarea name="icontent" cols="" rows="6" th:text="${item.icontent}"></textarea> <br />
            가격    : <input type="text" name="iprice" th:value="${item.iprice}" /> <br />
            수량    : <input type="number" name="iquantity" th:value="${item.iquantity}" /> <br />
            
            <img th:src="@{/item/image(code=${item.icode})}" style="width:100px" /> <br />
            
            대표이미지  : <input type="file" name="timage" /> <br />
            <input type="submit" value="물품등록">
        </form>
    </div>
</body>
</html>